<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Report PowerBI</title>
  </head>
  <body>
    <h1>Report PowerBI</h1>
    <div>
      <iframe title="DIAD Final Report" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=1c29d2f6-7ea6-4621-a43d-dae772190011&autoAuth=true&ctid=bc3dae5f-0b33-403d-b719-946457461af5&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
  </body>
</html>
